<%- include('header') %>
<link rel="stylesheet" href="/css/mobileStyling.css" media="only screen and (max-width: 679px)">
<link rel="stylesheet" href="/css/formMobileStyling.css" media="only screen and (max-width: 679px)">
<link rel="stylesheet" href="/css/desktopStyling.css" media="only screen and (min-width: 680px)">

<body>
    <h1>
        <%= title %> 
    </h1>
           
        
            <%=siteName%><br>
            <%=region%> <br>
            <%=plotName%><br>
            <%=owner%><br>
            <%=ha%><br>
            <%=offerDesc%><br>
            <%=status%><br><br>
      
                   
        <%if (locals.errorMessage){ %>
            <%= errorMessage %>
          <% } %>
          
          </form>
      </div>

</body>

<%- include('footer') %>