<%- include('header') %>

<link rel="stylesheet" href="/css/mobileStyling.css" media="only screen and (max-width: 679px)">
<link rel="stylesheet" href="/css/viewMobileStyling.css" media="only screen and (max-width: 679px)">
<link rel="stylesheet" href="/css/desktopStyling.css" media="only screen and (min-width: 680px)">
<link rel="stylesheet" href="/css/viewDesktopStyling.css" media="only screen and (min-width: 680px)">

<body>
    <div class="titleRow">
        <h1>
            <%= title %>
            
        </h1>
        <button class="add" onclick="document.location='adduser'">+</button> 
    </div>
    <table>
        <tr>
            <th>User</th>
            <th>Name</th>
            <th>Job Role</th>
        </tr>

        <% for (var i = 0; i < allUsers.length; i++) { %>
            <div> 
                <tr>
                    <td><a href="/userDetails?userId=<%= allUsers[i]._id %>"><%= allUsers[i].username %></a></td>
                    <td><%= allUsers[i].firstname %> <%= allUsers[i].lastname %></td>
                    <td><%= allUsers[i].role %></td>
                  </tr>                                
            </div>     
        <% } %>
      </table>



    
</body>

<%- include('footer') %>